node_red/data/.flows.json.backup
[
    {
        "id": "23367ebca52d19af",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b196f28a6f0f016",
        "type": "function",
        "z": "23367ebca52d19af",
        "name": "function 2",
        "func": "// Generar un número aleatorio en un rango específico\nfunction getRandomNumber(min, max) {\n    return Math.random()  * (max - min) + min;\n}\nvar product_name = \"Producto ejemplo IoT\"; // Potencia activa LV (kW)\nvar product_price = getRandomNumber(100, 250)/10; // Velocidad del viento (m/s)\nvar product_rating = getRandomNumber(0, 50)/10; // Curva de potencia teórica (KWh)\nvar product_reviews = Math.round(getRandomNumber(0, 600)); // Dirección del viento (°)\nvar url = \"https://github.com/Ruben-Bellido/proyecto-final-iot\";\n// Obtener la marca de tiempo actual en formato ISO 8601 (UTC)\nvar timestamp = new Date().toISOString();\n\n// Construir el punto de datos\nvar contenido = \n    {\n        \"name\": product_name,\n        \"price\": product_price,\n        \"rating\": product_rating,\n        \"reviews\": product_reviews,\n        \"url\": url,\n        \"hostname\": \"Node-Red\",\n        \"timestamp\": timestamp\n        \n    }\n\n\n// Construir el comando de cURL\n// msg.payload = \"curl -X 'POST' 'http://127.0.0.1:8000/products' -H 'accept: application/json' -H 'Content-Type: application/json' -d '\" + JSON.stringify(contenido) + \"'\";\nmsg.payload = contenido;\n// Devolver el comando de cURL\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "f54d75ee4b6ee045",
                "beb680023834924f"
            ]
        ]
    },
    {
        "id": "cfc07b4e7a80842a",
        "type": "inject",
        "z": "23367ebca52d19af",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "0b196f28a6f0f016"
            ]
        ]
    },
    {
        "id": "f54d75ee4b6ee045",
        "type": "debug",
        "z": "23367ebca52d19af",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "beb680023834924f",
        "type": "http request",
        "z": "23367ebca52d19af",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://fastapi:8000/products",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d3e8bd6ce673f8da",
        "type": "function",
        "z": "23367ebca52d19af",
        "name": "function 3",
        "func": "// Generar un número aleatorio en un rango específico\nfunction getRandomNumber(min, max) {\n    return Math.random()  * (max - min) + min;\n}\nvar product_name = \"Pruebas malos IoT\"; // Potencia activa LV (kW)\nvar product_price = 30; // Velocidad del viento (m/s)\nvar product_rating = getRandomNumber(0, 50)/10; // Curva de potencia teórica (KWh)\nvar product_reviews = Math.round(getRandomNumber(0, 600)); // Dirección del viento (°)\nvar url = \"https://www.amazon.es/dp/B07992W3DZ/ref=sspa_dk_detail_1?psc=1&pd_rd_i=B07992W3DZ&pd_rd_w=I18NV&content-id=amzn1.sym.9c67f205-18e7-4d34-beb2-37ec708092ed&pf_rd_p=9c67f205-18e7-4d34-beb2-37ec708092ed&pf_rd_r=8VN7EKHJ4JVDWD8JWC26&pd_rd_wg=dVogm&pd_rd_r=3cbdb834-e6f4-4bb1-9cba-992897011cc2&s=shoes&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw\";\n// Obtener la marca de tiempo actual en formato ISO 8601 (UTC)\nvar timestamp = new Date().toISOString();\n\n// Construir el punto de datos\nvar contenido = \n    {\n        \"name\": product_name,\n        \"price\": product_price,\n        \"rating\": product_rating,\n        \"reviews\": product_reviews,\n        \"url\": \"https://docs.google.com/document/d/1-gqidkkdWyU46g3eZknusF5CEVKWgWZUEw1_Ed8IDeE/edit\",\n        \"hostname\": \"Node-Red\",\n        \"timestamp\": timestamp\n        \n    }\n\n\n// Construir el comando de cURL\n// msg.payload = \"curl -X 'POST' 'http://127.0.0.1:8000/products' -H 'accept: application/json' -H 'Content-Type: application/json' -d '\" + JSON.stringify(contenido) + \"'\";\nmsg.payload = contenido;\n// Devolver el comando de cURL\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "26569dabd0e5df16",
                "13fec59d99e1de8b"
            ]
        ]
    },
    {
        "id": "a4e8381121f4a617",
        "type": "inject",
        "z": "23367ebca52d19af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "d3e8bd6ce673f8da"
            ]
        ]
    },
    {
        "id": "3a30c6e4d067e5e3",
        "type": "debug",
        "z": "23367ebca52d19af",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "26569dabd0e5df16",
        "type": "http request",
        "z": "23367ebca52d19af",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://fastapi:8000/products",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "3a30c6e4d067e5e3"
            ]
        ]
    },
    {
        "id": "13fec59d99e1de8b",
        "type": "debug",
        "z": "23367ebca52d19af",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 360,
        "wires": []
    }
]