node_red/data/flows.json
[
    {
        "id": "23367ebca52d19af",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b196f28a6f0f016",
        "type": "function",
        "z": "23367ebca52d19af",
        "name": "function 2",
        "func": "// Generar un número aleatorio en un rango específico\nfunction getRandomNumber(min, max) {\n    return Math.random()  * (max - min) + min;\n}\nvar product_name = \"Producto ejemplo IoT\"; // Potencia activa LV (kW)\nvar product_price = getRandomNumber(100, 250)/10; // Velocidad del viento (m/s)\nvar product_rating = getRandomNumber(0, 50)/10; // Curva de potencia teórica (KWh)\nvar product_reviews = Math.round(getRandomNumber(0, 600)); // Dirección del viento (°)\nvar url = \"http://127.0.0.1:1880/#flow/23367ebca52d19af\";\n// Obtener la marca de tiempo actual en formato ISO 8601 (UTC)\nvar timestamp = new Date().toISOString();\n\n// Construir el punto de datos\nvar contenido = \n    {\n        \"name\": product_name,\n        \"price\": product_price,\n        \"rating\": product_rating,\n        \"reviews\": product_reviews,\n        \"url\": url,\n        \"timestamp\": timestamp\n    }\n\n\n// Construir el comando de cURL\n// msg.payload = \"curl -X 'POST' 'http://127.0.0.1:8000/products' -H 'accept: application/json' -H 'Content-Type: application/json' -d '\" + JSON.stringify(contenido) + \"'\";\nmsg.payload = contenido;\n// Devolver el comando de cURL\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "f54d75ee4b6ee045",
                "beb680023834924f"
            ]
        ]
    },
    {
        "id": "cfc07b4e7a80842a",
        "type": "inject",
        "z": "23367ebca52d19af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "0b196f28a6f0f016"
            ]
        ]
    },
    {
        "id": "f54d75ee4b6ee045",
        "type": "debug",
        "z": "23367ebca52d19af",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "beb680023834924f",
        "type": "http request",
        "z": "23367ebca52d19af",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://fastapi:8000/products",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 260,
        "wires": [
            []
        ]
    }
]