node_red/data/flows.json
[
    {
        "id": "23367ebca52d19af",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b196f28a6f0f016",
        "type": "function",
        "z": "23367ebca52d19af",
        "name": "Datos sintéticos",
        "func": "// Generar un número aleatorio en un rango específico\nfunction getRandomNumber(min, max) {\n    return Math.random()  * (max - min) + min;\n}\nvar product_name = \"Producto ejemplo IoT\"; // Nombre del producto\nvar product_price = getRandomNumber(100, 250)/10; // Precio \nvar product_rating = getRandomNumber(0, 50)/10; // Valoración\nvar product_reviews = Math.round(getRandomNumber(0, 600)); // Nº de reseñas\n// Dirección del producto\nvar url = \"https://www.amazon.es/Learn-IoT-Programming-Using-Node-RED/dp/9391392385/ref=sr_1_9?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1IJCGEL7DUA4P&dib=eyJ2IjoiMSJ9.fSFxGtOF3XXX40hGTcJHg6-owyHuO6tyPoDR-Uzg2KI-6vKOfo9NCDtvNWPX4dNbPFWtC29chBYBRYLcHSD02Y6Npe7B9RB-DiPk5T2IQVRt-SrX7lCg_6ITZV79fXItF-gnlUYFl3aEuzNxXO6x2ASn1pdMqAjMiSqQFS48ncCSRqw4kd1A5UDrO1oE9U6FjOfVBjuNT-lWG3SeDWRNqabgsQyYwoiUXODYP_RQ5Gy_xH2jNuJhZjyvW5c--h3RWmMKaS_GT8AuOY4PgDfrb4y93uWIeLxswmYXrMEirHk.rQs52eefILoFkOCHkza0J0d2x_xRsH4cmG66-bHf7Nc&dib_tag=se&keywords=iot+book&qid=1716656432&sprefix=iot+book%2Caps%2C92&sr=8-9\";\n// Obtener la marca de tiempo actual en formato ISO 8601 (UTC)\nvar timestamp = new Date().toISOString();\n// Construir el punto de datos\nvar contenido = \n    {\n        \"name\": product_name,\n        \"price\": product_price,\n        \"rating\": product_rating,\n        \"reviews\": product_reviews,\n        \"url\": url,\n        \"hostname\": \"Node-Red\",\n        \"timestamp\": timestamp        \n    }\n\n// Construir el comando de cURL\nmsg.payload = contenido;\n// Devolver el comando de cURL\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "beb680023834924f"
            ]
        ]
    },
    {
        "id": "cfc07b4e7a80842a",
        "type": "inject",
        "z": "23367ebca52d19af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "0b196f28a6f0f016"
            ]
        ]
    },
    {
        "id": "f54d75ee4b6ee045",
        "type": "debug",
        "z": "23367ebca52d19af",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "beb680023834924f",
        "type": "http request",
        "z": "23367ebca52d19af",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://fastapi:8000/products",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "f54d75ee4b6ee045"
            ]
        ]
    }
]